@import "fonts";

//Media
// Small devices
$m-sm: 576px;

// Medium devices
$m-md: 768px;

// Large devices
$m-lg: 992px;

// Extra large devices
$m-xl: 1200px;

//Colors
$c-white: #ffffff;
$c-text-hover: #c7b299;
$c-text-dark: #555555;
$c-text-gray: #8c8c8c;
$c-graylight: #fbfaf8;
$c-text-graylight: #d1d1d1;
//Grid
@mixin grid-full-width {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1170px) 1fr;
}

@mixin grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2.5641%;
  max-width: 1170px;
  margin: auto;
}

//Body
.no-scroll {
  overflow: hidden !important;
  height: 100% !important;
  overflow: paged-y;
}

h1 {
  font-family: Arial, sans-serif;
  @include grid-container
}
